@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

  

.home {
  display: flex;
}

.projeto { 
  background-color: #ffffff; 
  float: right;
  margin-right: auto;

}

.navbar {
  width: 70px;
  background:linear-gradient( to top, #0a0635, #879EE0, #d5e6ff);
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.cob {
  width: 600px; 
  background:linear-gradient( to top, #0a0635, #879EE0, #c3d6f2); 
  float: left;
  
}
.custom-title {
  color: black;
  font-size: 35px;
  font-family: Inria Serif;
  font-weight: 400;
  word-wrap: break-word
}

.div-principal {
  width: 600px; 
  background:linear-gradient( to top, #0a0635, #879EE0, #c3d6f2); 
  float: left;
}

h1 {
  color: white;
  font-size: 35px;
  font-family: Inria Serif;
  font-weight: 400;
  word-wrap: break-word
}

p {
  color: #ffffff;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 700;
  word-wrap: break-word
}

p1 {
  color: #ffffff;
  font-size: 25px;
  font-family: Inria Serif;
  font-weight: 400;
  word-wrap: break-word
}

a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: Inria Serif;
  margin-top: 5px;
}



.conteudo {
  width: 90%; 
  float: left; 
  height: 300px;
}

.box {
  width: 91%;
  height: 36%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to left, #7265ba, #b9b1ec, #d0cce9);
  
}


.barras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ic-home{
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color:#ffffff;
}

.ic-info {
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color:#ffffff;
}


.ic-git {
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color:#ffffff;
}
