@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));


    
}

.home {
  display: flex;
}

.navbar {
  width: 50px;
  background-color: rgb(205, 202, 202); 
  float: left;
}

.cob {
  width: 120%; 
  background-color: gray;
  float: left;
  height: 300px;
  
}


.conteudo {
  width: 90%; 
  float: left; 
  height: 300px;
}

.municipios {
  width: 298px;
  height: 30px;
  flex-shrink: 0;
}

.anos {
  width: 298px;
  height: 30px;
  flex-shrink: 0;

}
