@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}
@font-face {
  font-family: "PoppinsLight";
  src: url(.../../../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "PoppinsMedium";
  src: url(.../../../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(.../../../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url(.../../../fonts/Poppins-SemiBold.ttf);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #cac5c534;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}


.proj {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

.home {
  display: flex;
}

.projeto {
  background-color: #f6f6f6;
  float: right;
}

.navbar {
  width: 70px;
  /* background:linear-gradient( to top, #0a0635, #879EE0, #d5e6ff); */
  background: #4d4790d0;
  float: left;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.cob {
  width: 500px;
  height: 100vh;
  /* background: linear-gradient(to top, #0a0635, #879ee0, #c3d6f2); */
  float: left;
  background: #433d87;
}

.div-principal {
  width: 600px;
  background: linear-gradient(to top, #0a06359c, #879ee0, #c3d6f2);
  float: left;
}

h1 {
  color: #f6f6f6;
  font-size: 35px;
  font-family: Inria Serif;
  word-wrap: break-word;
}

p {
  color: #ffffff;
  font-size: 20px;
  font-family: Inria Serif;
  /* font-weight: 700; */
  word-wrap: break-word;
}

a {
  margin-top: 5px;
}

.conteudo {
  width: 90%;
  float: left;
  height: 300px;
}

.box {
  width: 100%;
  height: 50%;
  border-radius: 0.75rem;
  /* background: linear-gradient(to left, #7265ba, #b9b1ec, #d0cce9); */
  background-color: #ffffff79;
  padding: 0.75rem;
}

.barras {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ic-home {
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color: #ffffff;
}

.ic-info {
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color: #ffffff;
}

.ic-git {
  height: 100px;
  width: 50px;
  margin: 10px 0;
  color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #05793dee;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05793d7c;
}
